{{ define "title" }}{{ .Title }}{{ end }}

{{ define "css" }}

{{ if .Site.Params.highlightjs }}
{{ if .Site.Params.highlightjsTheme }}
<link rel="stylesheet" data-highlight href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release/build/styles/{{ .Site.Params.highlightjsTheme }}.min.css" />
{{ else }}
<link rel="stylesheet" data-highlight href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release/build/styles/default.min.css" />
{{ end }}
{{ end }}

{{ if .Site.Params.valine }}
<script src='//unpkg.com/valine/dist/Valine.min.js'></script>
{{ end }}

{{ end }}

{{ define "main" }}
<div class="ui relaxed centered grid dream-grid dream-grid-single"{{ if .Site.Params.reversePostAndAside }}style="flex-direction: row-reverse;"{{ end }}>
  <!-- len <nav id="TableOfContents"></nav> == 32 -->
  <!-- {{ $showTOC := ge (len .TableOfContents) 33 }} -->
  {{ $shareInAside := .Site.Params.shareInAside }}
  {{ $showAside := or $showTOC $shareInAside }}

  {{ if $showAside }}
  <aside class="sixteen wide mobile sixteen wide tablet three wide computer column dream-single-aside">
    <!-- {{ if $showTOC }} -->
    <div class="ui segment toc">
          <!-- {{ .TableOfContents }} -->
    </div>
    <!-- {{ end }} -->

    {{ if $shareInAside }}
    {{ partial "share1.html" . }}
    {{ end }}
  </aside>
  {{ end }}
  <div class="sixteen wide mobile sixteen wide tablet ten wide computer column markdown-body dream-single" id="dream-save-post-as-img">
    <section class="ui segment">
      <header>
        <h1 class="ui large header">
          {{- .Title | emojify | safeHTML -}}
          <span class="sub header">
            <span class="left">
              @
              {{ if isset .Params "author" }}
                {{ if isset .Params "authorlink" }}
                  <a href="{{ .Params.authorlink }}" target="_blank">{{ .Params.author }}</a>
                {{ else }}
                  {{ .Params.author }}
                {{ end }}
              {{ else }}
                {{ .Site.Params.author }}
              {{ end }}

              | {{ if .Site.Params.Experimental.jsDate }}
                  <span data-format="luxon">{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}
                {{ else }}
                  {{ if eq .Site.Language.Lang "zh" }}
                    {{ index .Site.Data.zh.Weekday (printf "%d" .Date.Weekday) }}，{{ index .Site.Data.zh.Month (printf "%d" .Date.Month) }} {{ .Date.Day }} 日，{{ .Date.Year }} 年
                  {{ else if eq .Site.Language.Lang "es" }}
                    {{ index .Site.Data.es.Weekday (printf "%d" .Date.Weekday) }}, {{ .Date.Day }} de {{ index .Site.Data.es.Month (printf "%d" .Date.Month) }} de {{ .Date.Year }}
                  {{ else if eq .Site.Language.Lang "pt" }}
                    {{ index .Site.Data.pt.Weekday (printf "%d" .Date.Weekday) }}, {{ .Date.Day }} de {{ index .Site.Data.pt.Month (printf "%d" .Date.Month) }} de {{ .Date.Year }}
                  {{ else if eq .Site.Language.Lang "fr" }}
                    {{ index .Site.Data.fr.Weekday (printf "%d" .Date.Weekday) }} {{ .Date.Day }} {{ index .Site.Data.fr.Month (printf "%d" .Date.Month) }} {{ .Date.Year }}
                  {{ else }}
                    {{ .Date.Format "Monday, Jan 2, 2006" }}
                  {{ end }}
                {{ end }}

              | {{ .ReadingTime }}{{ i18n "minuteRead" .ReadingTime }}
              | {{ .WordCount }} Words

              {{ if ne .Params.nolastmod true }}
              | {{ i18n "updateAt" }}
                {{ if .Site.Params.Experimental.jsDate }}
                  <span data-format="luxon">{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}
                {{ else }}
                  {{ if eq .Site.Language.Lang "zh" }}
                    {{ index .Site.Data.zh.Weekday (printf "%d" .Lastmod.Weekday) }}，{{ index .Site.Data.zh.Month (printf "%d" .Lastmod.Month) }} {{ .Lastmod.Day }} 日，{{ .Lastmod.Year }} 年
                  {{ else if eq .Site.Language.Lang "es" }}
                    {{ index .Site.Data.es.Weekday (printf "%d" .Lastmod.Weekday) }}, {{ .Lastmod.Day }} de {{ index .Site.Data.es.Month (printf "%d" .Lastmod.Month) }} de {{ .Lastmod.Year }}
                  {{ else if eq .Site.Language.Lang "pt" }}
                    {{ index .Site.Data.pt.Weekday (printf "%d" .Lastmod.Weekday) }}, {{ .Lastmod.Day }} de {{ index .Site.Data.pt.Month (printf "%d" .Lastmod.Month) }} de {{ .Lastmod.Year }}
                  {{ else if eq .Site.Language.Lang "fr" }}
                    {{ index .Site.Data.fr.Weekday (printf "%d" .Date.Weekday) }} {{ .Date.Day }} {{ index .Site.Data.fr.Month (printf "%d" .Date.Month) }} {{ .Date.Year }}
                  {{ else }}
                    {{ .Lastmod.Format "Monday, Jan 2, 2006" }}
                  {{ end }}
                {{ end }}
              {{ end }}


            {{ if not $shareInAside }}
            {{ partial "share.html" . }}
            {{ end }}

            {{ $taxonomy := "tags" }}
            {{ with .GetTerms $taxonomy }}
              <div class="dream-tags" style="margin-top: 1.5rem;">
                {{ (site.GetPage $taxonomy).LinkTitle }}:
                {{ range $k, $_ := . -}}
                  <a class="ui label" style="margin-bottom: .5rem;" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                {{- end }}
              </div>
            {{ end }}

        </h1>
      </header>

      <article class="main">
        {{ if and .Params.Cover .Site.Params.showSummaryCoverInPost }}

          {{ $image := .Params.Cover }}
        {{/*  {{ with .Resources.GetMatch .Params.Cover }}
            <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
         {{ end }}  */}}
            {{ $webp := $image | relURL | replaceRE `(\.\w+)$` ".webp" | absURL }}
            <figure>
              <picture>
                <source type="image/webp" srcset="{{ $webp }}">
                <img class="cover"
                    {{ with .Params.cover_alt }} alt="{{ . }}" {{ end }}
                    {{ with .Params.cover_height }} height="{{ . }}" {{ end }}
                    {{ with .Params.cover_width }} width="{{ . }}" {{ end }}
                    loading="lazy" src="{{ $image | absURL }}">
              </picture>
            </figure>
        {{ end }}

        {{ .Content | emojify }}

         <!-- {{ partial "related.html" . }} -->
      </article>
    </section>

    <section class="section">
      <div class="columns is-centered">
          <div class="column max-800px">
              <div class="content">
                  <h2>Related content</h2>
              </div>
              <div>
                  <div class="ui relaxed grid dream-grid">
                      {{ $related := .Site.RegularPages.Related . | first 4 }}
                      {{ range $related }}
                      <div class="sixteen wide mobile eight wide tablet eight wide computer four wide large screen four wide widescreen column dream-column">
                          {{ .Render "summary-small" }}
                      </div>
                      {{ end }}
                  </div>
              </div>
          </div>
      </div>
    </section>

    {{ if .Site.DisqusShortname }}
    <article class="ui segment post-disqus-area" data-html2canvas-ignore>
      {{ partial "disqus.html" (dict "Context" . "Identifier" .RelPermalink) }}
    </article>
    {{ end }}

    {{ if .Site.Params.utterancesRepo }}
    <article class="ui segment utterances-comments" data-html2canvas-ignore>
      <script
        src="https://utteranc.es/client.js"
        repo="{{ .Site.Params.utterancesRepo }}"
        issue-term="{{ .Site.Params.utterancesMapping }}"
        theme="{{ .Site.Params.utterancesStyle }}"
        crossorigin="anonymous"
        async>
      </script>
    </article>
    {{ end }}

    <article class="ui segment utterances-comments" data-html2canvas-ignore>
     <script src="https://giscus.app/client.js"
        data-repo="oliviabarnes/oliviabarnes.github.io"
        data-repo-id="R_kgDOHeZOPQ"
        data-category="General"
        data-category-id="DIC_kwDOHeZOPc4Cb7-s"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="en"
        crossorigin="anonymous"
        async>
    </script>
  </article>

    {{ if .Site.Params.valine }}
    <article class="ui segment" data-html2canvas-ignore>
      <div id="vcomments"></div>
    </article>

    <script>
      new Valine({
        el: '#vcomments',
        appId: '{{ .Site.Params.LEANCLOUD_APP_ID }}',
        appKey: '{{ .Site.Params.LEANCLOUD_APP_KEY }}',
        lang: '{{ .Site.Params.VALINE_LANGUAGE }}'
      })
    </script>
    {{ end }}
  </div>
</div>
{{ end }}

{{ define "js" }}

{{ if .Site.Params.Experimental.jsDate }}
  {{ partial "luxon.html" . }}
{{ end }}

<script src="{{ "/js/scrollToTop.js" | relURL }}"></script>

{{ if .Site.Params.highlightjs }}
  <script src="{{ if .Site.Params.highlightjsCDN }}{{ .Site.Params.highlightjsCDN }}{{ else }}{{ "https://cdn.jsdelivr.net/gh/highlightjs/cdn-release/build/highlight.min.js" }}{{ end}}"></script>

  {{ if .Site.Params.highlightjsExtraLanguages }}
    {{ range .Site.Params.highlightjsExtraLanguages }}
      <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release/build/languages/{{ . }}.min.js"></script>
  {{ end }}
{{ end }}

{{ partial "highlight.html" . }}
{{ end }}

<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.1/dist/html2canvas.min.js" integrity="sha256-uacRffSSMP9qpvNWhVmYLykBv9YKMA1d/VSIN1AmfyQ=" crossorigin="anonymous"></script>
<script src="{{ "/js/post.js" | relURL }}" defer></script>
{{ end }}
